.wrapper{
    width: 960px;
    height: 500px;
    margin: 0px;
    background-color: lightgray;
}
div{
    display: inline-block;
    vertical-align: top;
    width: 220px;
    height: 200px;
    margin-left: 13px;
    margin-top: 13px;
}
img{
    display: inline-block;
    vertical-align: top;
    width: 220px;
    height: 180px;
}
button{
    width: 400px;
    margin-left: 270px;
}